.unitItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: vw(100);
  margin: 0 vw(52);

  @include media(xs) {
    width: vw(63, 360);
    margin: 0 vw(13, 360);
  }

  &_first {
    margin-left: 0;
  }

  &_last {
    margin-right: 0;
  }

  &__count {
    margin-bottom: vw(2);

    font-family: var(--font-vetrino);
    font-size: vw(64);
    font-weight: 400;

    @include media(xs) {
      margin-bottom: vw(2, 360);
      font-size: vw(40, 360);
    }
  }
}
