.timeline {
  width: vw(1361);
  margin: 0 auto vw(115);

  @include media(xs) {
    margin-bottom: vw(80, 360);
    padding: 0 vw(20, 360);
    width: 100%;
  }

  &__title {
    margin-bottom: vw(32);
    text-align: center;
    color: var(--green);

    @include media(xs) {
      text-align: left;
      margin-bottom: vw(24, 360);
    }
  }

  &__text {
    margin: 0 auto vw(65);
    width: vw(848);
    text-align: center;
    color: var(--green-dark);

    @include media(xs) {
      text-align: left;
      width: auto;
    }
  }
}

.list {
  position: relative;
  &__bg {
    width: 100%;
    height: vw(706);

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include media(xs) {
      display: none;
    }
  }

  &__item {
    position: absolute;

    &_0 {
      top: vw(190);
    }
    &_1 {
      top: vw(25);
      left: vw(514);
    }
    &_2 {
      top: vw(422);
      left: vw(827);
    }

    @include media(xs) {
      position: static;
      margin-bottom: vw(32, 360);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
