.info {
  position: relative;
  margin-bottom: vw(127);
  padding-top: vw(72);

  @include media(xs) {
    margin-bottom: vw(80, 360);
    padding-top: vw(54, 360);
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: vw(144);
    height: vw(144);

    @include media(xs) {
      width: vw(108, 360);
      height: vw(108, 360);
    }

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__wrap {
    padding: vw(128) 0;
    background-color: var(--green-light);
    border-radius: vw(20);
    text-align: center;

    @include media(xs) {
      padding: vw(80, 360) vw(20, 360);
      text-align: left;
    }
  }

  &__title {
    margin-bottom: vw(32);
    text-align: center;
    color: var(--green);

    @include media(xs) {
      margin-bottom: vw(24, 360);
    }
  }

  &__text {
    & p {
      margin: 0 auto;
      color: var(--green-dark);

      &:nth-child(1) {
        margin-bottom: vw(24);
        width: vw(713);
      }
      &:nth-child(2) {
        width: vw(497);
      }

      @include media(xs) {
        &:nth-child(1) {
          margin-bottom: vw(16, 360);
          width: 100%;
        }
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }
}
