.wrap {
  width: vw(480);

  @include media(xs) {
    width: auto;
  }
}

.icon {
  margin-bottom: vw(24);

  width: vw(100);
  height: vw(100);

  svg {
    width: 100%;
    height: 100%;
  }

  @include media(xs) {
    margin-bottom: vw(16, 360);
    width: vw(80, 360);
    height: vw(80, 360);
  }
}

.title {
  margin-bottom: vw(24);
  color: var(--green);

  @include media(xs) {
    margin-bottom: vw(16, 360);
  }
}

.description {
  color: var(--green-dark);
}
