.map {
  margin-bottom: vw(128);
  padding: 0 vw(40);

  display: flex;
  gap: vw(70);

  @include media(xs) {
    margin-bottom: vw(80, 360);
    padding: 0 vw(20, 360);
  }

  &__info {
    width: vw(577);
    flex-shrink: 0;

    @include media(xs) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: vw(32);
    color: var(--green);

    @include media(xs) {
      margin-bottom: vw(24, 360);
    }
  }

  &__descr {
    margin-bottom: vw(24);
    color: var(--green-dark);
    width: vw(551);

    @include media(xs) {
      margin-bottom: vw(16, 360);
      width: 100%;
    }
  }

  &__addressWrap {
    margin-bottom: vw(36);
    display: flex;
    align-items: center;

    @include media(xs) {
      margin-bottom: vw(16, 360);
    }
  }

  &__icon {
    margin-right: vw(12);
    width: vw(40);
    height: vw(40);

    @include media(xs) {
      margin-right: vw(12, 360);
      width: vw(40, 360);
      height: vw(40, 360);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__address {
    color: var(--green-dark);
  }

  &__btn {
    padding: vw(24) vw(80);
    background-color: var(--green);
    border-radius: vw(69);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;

    font-family: var(--font-manrope);
    font-size: vw(24);
    font-weight: 400;
    line-height: 100%;

    &:hover {
      background-color: #a1b59c;
    }

    @include media(xs) {
      padding: vw(18, 360) 0;
      width: 100%;
      border-radius: vw(69, 360);

      font-size: vw(16, 360);
    }
  }

  &__ymap {
    flex: 1;
    flex-grow: 1;
    border-radius: vw(30);
    overflow: hidden;

    @include media(xs) {
      display: none;
    }
  }

  &__pin {
    width: vw(40);
    height: vw(40);

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
