.format {
  position: relative;
  margin-bottom: vw(103);
  padding: 0 vw(40);
  height: vw(812);

  @include media(xs) {
    margin-bottom: vw(55, 360);
    padding: 0 vw(20, 360);
    height: auto;
  }

  &__title {
    margin-bottom: vw(32);
    color: var(--green);
  }

  &__text {
    & p {
      margin-bottom: vw(16);
      width: vw(733);
      color: var(--green-dark);

      &:nth-child(2) {
        margin-bottom: 0;
        width: vw(624);
      }

      @include media(xs) {
        margin-bottom: vw(16, 360) !important;
        width: 100%;

        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }

  &__wrap {
    @include media(xs) {
      height: vw(210, 360);
    }
  }

  &__img {
    position: absolute;

    &_1 {
      left: vw(70);
      bottom: vw(60);
      z-index: 3;

      width: vw(572);
      height: vw(357);
      transform: rotate(6deg);

      @include media(xs) {
        display: none;
      }
    }
    &_2 {
      bottom: vw(50);
      left: vw(645);
      z-index: 2;

      width: vw(426);
      height: vw(488);
      transform: rotate(10deg);

      @include media(xs) {
        bottom: vw(0, 360);
        left: vw(35, 360);

        width: vw(157, 360);
        height: vw(180, 360);
      }
    }
    &_3 {
      bottom: vw(190);
      left: vw(936);
      z-index: 1;

      width: vw(404);
      height: vw(509);
      transform: rotate(4deg);

      @include media(xs) {
        bottom: vw(30, 360);
        left: vw(175, 360);

        width: vw(142, 360);
        height: vw(178, 360);
      }
    }
  }
}
