.item {
  position: relative;
  width: vw(413);
  height: vw(503);
  margin: 0 vw(16);
  transform: rotate(-5deg);
  flex-shrink: 0;

  @include media(xs) {
    width: 100%;
    height: vw(370, 360);
  }

  &_rotateRight {
    transform: rotate(5deg);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__year {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: vw(23);

    font-family: var(--font-greatvibes);
    font-size: vw(50);
    line-height: 130%;
    font-weight: 400;
    color: var(--green-dark);

    @include media(xs) {
      bottom: vw(23, 360);
      font-size: vw(32, 360);
    }
  }
}
