* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0 !important;
}

body {
  font-family: var(--font-manrope);
  background-color: var(--main-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  overflow-x: hidden;
}
.h1 {
  font-family: var(--font-vetrino);
  font-size: vw(64);
  line-height: 130%;
  font-weight: 400;

  @include media(xs) {
    font-size: vw(40, 360);
  }
}

.h2 {
  font-family: var(--font-vetrino);
  font-size: vw(48);
  line-height: 130%;
  font-weight: 400;

  @include media(xs) {
    font-size: vw(32, 360);
    line-height: 100%;
  }
}

.h3 {
  font-family: var(--font-vetrino);
  font-size: vw(32);
  line-height: 130%;
  font-weight: 400;

  @include media(xs) {
    font-size: vw(21, 360);
    line-height: 120%;
  }
}

.p1 {
  font-size: vw(24);
  line-height: 130%;

  @include media(xs) {
    font-size: vw(16, 360);
    line-height: 130%;
  }
}

.p2 {
  font-size: vw(18);
  line-height: 130%;

  @include media(xs) {
    font-size: vw(14, 360);
    line-height: 130%;
  }
}
