@font-face {
  font-family: "GreatVibes";
  src: url("./fonts/greatvibes-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vetrino";
  src: url("./fonts/Vetrino.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
