// функция для vw
@function vw($pixels, $viewportWidth: 1440) {
  @return calc(100vw / $viewportWidth) * $pixels;
}

// prettier-ignore
$breakpoints: (
  xs: 360px,
  xl: 1280px,
) !default;

@import "node_modules/sass-snippets/scss/snippets";
