body {
  //colors
  --main-bg: #fffefc;
  --green: #758e67;
  --green-dark: #0e2629;
  --green-light: #f3f4ef;
  --black: #000000;
  --white: #ffffff;

  //fonts
  --font-greatvibes: "greatvibes", sans-serif;
  --font-manrope: "manrope", sans-serif;
  --font-vetrino: "vetrino", sans-serif;
}
